$base-font-size: 14px;

$font-size-xs: 0.75rem;  // Extra Small (12px)
$font-size-sm: 0.875rem; // Small (14px)
$font-size-md: 1rem;     // Medium / Base (16px)
$font-size-lg: 1.25rem;  // Large (20px)
$font-size-xl: 1.5rem;   // Extra Large (24px)
$font-size-2xl: 2rem;    // 2X Large (32px)
$font-size-3xl: 3rem;    // 3X Large (48px)
$font-size-4xl: 4rem;    // 4X Large (64px)
$font-size-5xl: 5rem;    // 5X Large (80px)

